/* ----------------Scrollbar styling starts--------------------------- */

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  
  /* Track */
  
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
  }
  
  /* Handle */
  
  ::-webkit-scrollbar-thumb {
    background: #b7b9bd;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background:  #b7b9bd;
  }
  
  ::-webkit-scrollbar-thumb:window-inactive {
    background:  #b7b9bd;
  }
  
  /* ----------------Scrollbar styling ends--------------------------- */